.introducao-interna h1{
  color: #000;
}

.introducao-interna h1:after{
  background-color: #000;
}

.texto-contato p{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 27px;
  font-size: 18px;
  padding: 0px 100px
}

.form{
  margin: 40px 0 40px 225px;
}
.form label{
  display: block;
  color: #000;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

.form input{
  width: 500px;
  border: 3px solid #319708;
  background: none;
  color: #000;
  padding: 8px 0;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form textarea{
  width: 500px;
  height: 120px;
  border: 3px solid #319708;
  background: none;
  color: #000;
  padding: 5px 0;
  margin-bottom: 20px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form .btn-form {
  display: block;
  background: none;
  padding: 5px 30px;
  color: #319708;
  border: #319708 solid 3px;
}

.form .btn-form:hover{
  border-color: #6d4d13;
  color: #6d4d13;
}